<div class="wrapper">
  <div class="row Header1">
    <div class="col-md-4 col-sm-5 text-xl">
        <img src="assets/logo.png" height="70px" class="img" alt="Indian_Railways_Icon">
        Diyvang Jan Sahayak
    </div>
    <div class="col-md-7 col-sm-6 col-8 ml-auto text-sm text-right headerTwo">
      Text-Size: &nbsp;
      <button type="button" class="btn btn-sm btn-secondary" id="zoomIn" name="zoom_in">+A</button>
      &nbsp;&nbsp;A&nbsp;&nbsp;
      <button type="button" class="btn btn-sm btn-secondary" id="zoomOut" name="zoom_out">-A</button>
    </div>
    <div class="col-md-1 col-sm-1 col-3">
      <i style="font-size:40px;color:red;margin-top:12px" (click)="navigateToHome()" class="fa fa-home homeButton"></i>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-title text-center d-flux justify-content-center">
        <div class="card-heading py-3">
          <h3>INSTRUCTION AND PROCEDURE TO APPLY ONLINE APPLICATION</h3>
          <h5>(ऑनलाइन आवेदन भरने के लिए निर्देश और प्रक्रिया)</h5>
        </div>
      </div>
      <div class="card-body fw-bold">
        <div class="row">
          <h5>Instruction to Apply Online:</h5>
          <ol>
            <li>
              <p class="p-2">
                Applicant should keep ready the following documents in the jpg/pdf format with maximum 5 MB size before
               proceeding to fill up the form. Details mentioned on documents should be clear and legible. Doctor’s name,
               registration number and nature of disability mentioned on concession certificate should be clearly mentioned
               and readable.Documents should be self attested.
              </p>
              <ul type="hand">
                <li>
                  <p class="p-0">
                    &nbsp; Concession Certificate
                  </p>
                </li>
                <li>
                  <p class="p-0">
                    &nbsp; Disability/Handicapped Certificate
                  </p>
                </li>
                <li>
                  <p class="p-0">
                    &nbsp; Age Certificate (PAN Card, School Certificate or as directed in Govt Notification Mentioned
                    Parameter i.e. DD-MM-YYYY)
                  </p>
                </li>
                <li>
                  <p class="p-0">
                    &nbsp; Aadhaar Card
                  </p>
                </li>
                <li>
                  <p class="p-0">
                    &nbsp; Address Proof (Voter ID Card or Documents as Directed in Govt. Notification for this Purpuse)
                  </p>
                </li>
                <li>
                  <p class="p-0">
                    &nbsp; Passport Size Photo
                  </p>
                </li>
              </ul>
            </li>
            <li>
              <p class="p-2">
                Applicant should have a valid mobile number
              </p>
            </li>
            <li>
              <p class="p-2">
                Editing of any detail not permitted, so before submitting/going to next step please verify all the
                entered information for correctness.
              </p>
            </li>
            <li>
              <p class="p-2">
                 While filling the online application form, the applicant must keep in mind that the entries should be
                 appropriate otherwise the application will be rejected.
              </p>
            </li>
            <li>
              <p class="p-2">
                Applicant has to complete whole process within 72 hours from the first step of registration. Online registration
                will be rejected if you fail to complete the registration form within 72 Hours. Beyond 72 Hours online
                application will have to be applied again.
              </p>
            </li>
          </ol>
        </div>
        <div class="row">
          <div class="card-body fw-bold">
            <h5><b>ऑनलाइन आवेदन करने के निर्देश:</b></h5>
            <ol>
              <li>
                <p class="p-2">
                  आवेदक को फॉर्म भरने के लिए आगे बढ़ने से पहले jpg/pdf फार्मेट में निम्नलिखित दस्तावेजों को अधिकतम 5 MB साइज के साथ तैयार रखना चाहिए ।
                  दस्तावेजों पर उल्लिखित विवरण स्पष्ट और सुपाठ्य होना चाहिए। डॉक्टर का नाम, पंजीकरण संख्या और रियायत प्रमाण पत्र पर उल्लिखित विकलांगता
                  की प्रकृति स्पष्ट रूप से उल्लिखित और पठनीय होनी चाहिए। दस्तावेजों को स्वयं सत्यापित किया जाना चाहिए ।
                </p>
                <ul type="hand">
                  <li>
                    <p class="p-0">
                      &nbsp; रियायत प्रमाण पत्र
                    </p>
                  </li>
                  <li>
                    <p class="p-0">
                      &nbsp; विकलांगता / विकलांग प्रमाण पत्र
                    </p>
                  </li>
                  <li>
                    <p class="p-0">
                      &nbsp; आयु प्रमाण पत्र (पैन कार्ड, स्कूल सर्टिफिकेट या सरकार अधिसूचना में उल्लेखित पैरामीटर यानी i.e. DD-MM-YYYY)
                    </p>
                  </li>
                  <li>
                    <p class="p-0">
                      &nbsp; आधार कार्ड
                    </p>
                  </li>
                  <li>
                    <p class="p-0">
                      &nbsp; पते का सबूत (वोटर आईडी कार्ड या सरकार के निर्देश के अनुसार दस्तावेज। )
                    </p>
                  </li>
                  <li>
                    <p class="p-0">
                      &nbsp; पासपोर्ट साइज फोटो
                    </p>
                  </li>
                </ul>
              </li>
              <li>
                <p class="p-2">
                  आवेदक के पास एक वैध मोबाइल नंबर होना चाहिए
                </p>
              </li>
              <li>
                <p class="p-2">
                  किसी भी विवरण को संपादित करने की अनुमति नहीं है, इसलिए सबमिट करने / अगले
                  चरण पर जाने से पहले कृपया शुद्धता के लिए सभी दर्ज किए गए जानकारी को सत्यापित करें।
                </p>
              </li>
              <li>
                <p class="p-2">
                  ऑनलाइन आवेदन फॉर्म भरते समय, आवेदक को यह ध्यान रखना होगा कि प्रविष्टियां उचित होनी चाहिए अन्यथा आवेदन अस्वीकार कर दिया जाएगा।
                </p>
              </li>
              <li>
                <p class="p-2">
                  पंजीकरण के पहले चरण से आवेदक को 72 घंटों के भीतर सभी प्रक्रिया पूरी करनी होगी। यदि निर्धारित समय सीमा के अन्दर पंजीकरण का कार्
                  य पूरा नहीं किया जाता हैं तो ऑनलाइन पंजीकरण अस्वीकार कर दिया जाएगा. 72 घंटे के बाद ऑनलाइन आवेदन फिर से करना होगा।
                </p>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-head">
        <div class="card-title stepsofregistration text-center d-flex justify-content-center">
          <h4>STEP BY STEP PROCESS TO FILL ONLINE APPLICATION FORM</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-head registartionformSubHeadings d-flex justify-content-center">
        <h5>Registration Step 1 of 3</h5>
      </div>
      <div class="card-body row border border-2">
        <div class="col-md-5 border border-2">
          <ul>
            <br>
            <br>
            <br>
            <li></li>
            <br>
            <br>
            <br>
            <li></li>
          </ul>
        </div>
        <div class="col-md-7 border border-2">
          <img src="assets/download.jpeg" class="w-100 p-2" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body row border border-2">
        <div class="col-md-5 border border-2">

        </div>
        <div class="col-md-7 border border-2">
          <img src="assets/download.jpeg" class="w-100 p-2" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body row border border-2">
        <div class="col-md-5 border border-2">

        </div>
        <div class="col-md-7 border border-2">
          <img src="assets/download.jpeg" class="w-100 p-2" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-head registartionformSubHeadings d-flex justify-content-center">
        <h5>Registration step 2 of 3</h5>
      </div>
      <div class="card-body row border border-2">
        <div class="col-md-5 border border-2">
          <ul>
            <br>
            <br>
            <br>
            <li></li>
            <br>
            <br>
            <br>
            <li></li>
          </ul>
        </div>
        <div class="col-md-7 border border-2">
          <img src="assets/download.jpeg" class="w-100 p-2" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body row border border-2">
        <div class="col-md-5 border border-2">

        </div>
        <div class="col-md-7 border border-2">
          <img src="assets/download.jpeg" class="w-100 p-2" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body row border border-2">
        <div class="col-md-5 border border-2">

        </div>
        <div class="col-md-7 border border-2">
          <img src="assets/download.jpeg" class="w-100 p-2" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-head registartionformSubHeadings d-flex justify-content-center">
        <h5>Registration Step 3 of 3</h5>
      </div>
      <div class="card-body row border border-2">
        <div class="col-md-5 border border-2">
          <ul>
            <br>
            <br>
            <br>
            <li></li>
            <br>
            <br>
            <br>
            <li></li>
          </ul>
        </div>
        <div class="col-md-7 border border-2">
          <img src="assets/download.jpeg" class="w-100 p-2" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body row border border-2">
        <div class="col-md-5 border border-2">

        </div>
        <div class="col-md-7 border border-2">
          <img src="assets/download.jpeg" class="w-100 p-2" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body row border border-2">
        <div class="col-md-5 border border-2">

        </div>
        <div class="col-md-7 border border-2">
            <img src="assets/download.jpeg" class="w-100 p-2" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
